{% extends "app1/base1.html" %}

{% block title %}customers{%endblock%}
{% block content %}
{% include 'app1/form.html' %}
<br>{%if massage%}
<div class="alert alert-success" role="alert">
 {{massage}}
</div>
{%endif%}
<div class="" style="background-color:#eee;border-radius:20px;overflow:scroll;height:400px">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      {%for i in fields%}
        <th>{{i}}</th>
      {%endfor%}
    </tr>
  </thead>
  <tbody>
    {%for i in list%}
    <tr>
      <td>{{i.customer_name}}</td>
      <td>{{i.customer_code}}</td>
      <td>{{i.description}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
{% endblock %}
