{% extends "app1/base1.html" %}
{% block content %}
<form action="/user/" method="post">
  <fieldset class="col-11" style="background-color:#eee;color:#082d52;padding:25px;border-radius:20px;">
    <legend>Contact details</legend>
    {% csrf_token %}

    {% for i in form %}
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="id_{{i.label}}">{{i.label}}</label>
        <div class="col-sm-9">
          {{ i }}
        </div>
      </div>
    {%endfor%}
    <div class="form-group row">
    <div class="col-sm-5">
      <button type="submit" class="btn btn-primary" style="float:right;">ثبت اطلاعات</button>
    </div>
    </div>
    </fieldset>
</form>
<br><br>
<div class="">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      {%for i in fields%}
        <th>{{i}}</th>
      {%endfor%}
    </tr>
  </thead>
  <tbody>
    {%for i in list%}
    <tr>
      <td>{{i.ProductName}}</td>
      <td>{{i.ProductCode}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
<script>
  $(function () {
    $("#{{ widget.datetimepicker_id }}").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
{% endblock %}
