{% extends "app1/base1.html" %}

{% block style %}

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

{% endblock %}
{% block title %}product vrsion{%endblock%}
{% block content %}
<form autocomplete="off" action="{% url 'app1:products_version' %}" method="post">
  <fieldset class="col-11"
            style="background-color:#bdc1c4;color:#082d52;padding:25px;
                  border-radius:10px;">
    <legend>{{table_name}}</legend>
    {% csrf_token %}

    {% for i in form %}
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="id_{{i.label}}">{{i.label}}</label>
        <div class="col-sm-9">
          {{ i }}
        </div>
      </div>
    {%endfor%}
    <div class="form-group row">
    <div class="col-sm-5">
      <button type="submit" class="btn btn-primary" style="float:right;">ثبت اطلاعات</button>
    </div>
    </div>
    </fieldset>
</form>
<br>{%if massage%}
<div class="alert alert-success" role="alert">
 {{massage}}
</div>
{%endif%}
<div class="" style="background-color:#eee;border-radius:20px;overflow:scroll;height:400px">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      {%for i in fields%}
        <th>{{i}}</th>
      {%endfor%}
    </tr>
  </thead>
  <tbody>
    {%for i in list%}
    <tr>
      <td>{{i.product_version_code}}</td>
      <td>{{i.release_date}}</td>
      <td>{{i.description}}</td>
      <td>{{i.product_id.product_name}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
<script>
    $(function () {
      $("#release_date").datepicker(
      {format:'YYYY-mm-dd',});
    });
  </script>

{% endblock %}
